{% extends 'base.html.twig' %}
{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Clientes</h1>
    <h2 class="sub-header">Listado Clientes</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
          	<td>{{cliente.nombres}}</td>
            <td>{{cliente.identificacion}}</td>
            <td><span><a href="/clientes/{{cliente.id}}/edit" alt="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a><a href="/clientes/{{cliente.id}}/delete" alt="Borrar"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}     