{% extends 'base.html.twig' %}
{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Productos</h1>
    <h2 class="sub-header">Listado Productos</h2><a href="/productos/new" type="button" class="btn btn-success">Crear producto</a>
    <div class="table-responsive">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Valor</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
          <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td><span><a href="/productos/{{producto.id}}/edit" alt="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a><a href="/productos/{{producto.id}}/delete" alt="Borrar"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}   
     